{{!
This file is part of Moodle - http://moodle.org/

Moodle is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Moodle is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_oer/coursecard

    Renders a single coursecard

    Example context (json):
    {
        "viewurl": "https://moodlesite/course/view.php?id=2",
        "ignore": true,
        "icon": "config.wwwroot/theme/image.php/boost/core/1644361882/f/pdf",
        "title": "abc.pdf",
        "mimetype": "application/pdf",
        "timemodified": 0,
        "timeuploaded": 0,
        "requirementsmet": true,
        "upload": true
    }
}}

<div class="card-deck col-sm-6 col-md-6 col-lg-4 col-xl-3" {{#ignore}}style="opacity: 0.5;"{{/ignore}}>
    <div data-oerid="{{identifier}}" class="card shadow-sm mb-4">
        <div class="card-header container">
            <div class="row">
                {{> local_oer/file-action-menu }}
            </div>
            <div class="row">
                <div class="col-3">
                    <div class="d-flex justify-content-start align-items-top my-2">
                        <div class="m-0 img-thumbnail d-flex justify-content-center align-items-center" style="object-fit: cover; width: 40px; height: 40px;">
                            <img class="icon m-0 p-0" alt="" aria-hidden="true" style="object-fit: cover; width: 16px; height: 16px;" src="{{icon}}">
                        </div>
                    </div>
                </div>
                <div class="col-9 pl-0 pt-1">
                    <p class="card-title text-wrap d-block m-0">{{{title}}}</p>
                </div>
            </div>
            <div class="row">
                {{> local_oer/badges }}
            </div>
        </div>
        <div class="card-body p-0 d-flex flex-column">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <details>
                        <summary>{{#str}} moreinformation, local_oer {{/str}}</summary>
                        {{> local_oer/information }}
                    </details>
                </li>
                <li class="list-group-item">
                    <ul class="list-group">
                        {{#requirementsmet}}
                            <li class="list-group-item border-0 p-0">
                                <small>{{#pix}}i/valid, core{{/pix}} {{#str}} requirementsmet, local_oer{{/str}}</small>
                            </li>
                        {{/requirementsmet}}
                        {{^requirementsmet}}
                            <li class="list-group-item border-0 p-0">
                                <small>{{#pix}}req, core, {{#str}}required{{/str}}{{/pix}}{{#str}} requirementsnotmet, local_oer{{/str}}</small>
                            </li>
                        {{/requirementsmet}}
                    </ul>
                </li>
            </ul>
        </div>
        <div class="card-footer">
            <div><small><small>{{#str}} lastchange, local_oer{{/str}} {{timemodified}}</small></small></div>
            <div><small><small>{{#str}} uploaded, local_oer{{/str}} {{timeuploaded}}</small></small></div>
        </div>
    </div>
</div>
