{{!
This file is part of Moodle - http://moodle.org/

Moodle is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Moodle is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_oer/activate_course

    Classes required for JS:
    * none

    Data attributes required for JS:
    * courseid (Moodle courseid)
    * context (Moodle course context)

    Context variables required for this template:
    * course

    Example context (json):
    {
    }
  }}
{{#enabled}}
    {{#saved}}
        <div class="alert alert-info coontainer">
            <div class="row">
                <div class="col-lg-10"> {{#str}} prefresettext , local_oer {{/str}}</div>
                <div class="col-lg-2">
                    <a href="#" class="btn btn-secondary" id="local_oer_preferenceResetButton" data-preference="reset" data-courseid="{{courseid}}"
                       data-identifier="{{identifier}}">
                        {{#str}} prefresetbtn, local_oer {{/str}}
                    </a>
                </div>
            </div>
        </div>
    {{/saved}}
{{/enabled}}
{{^enabled}}
    <p class="alert alert-info">{{#str}} noprefsetyet, local_oer {{/str}}</p>
{{/enabled}}
